Тема 1 - Вычисления с помощью NumPy

                                                Задание 1

Импортируйте библиотеку Numpy и дайте ей псевдоним np.
Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. 
Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7.
Будем считать, что каждый столбец - это признак, а строка - наблюдение.
Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy.
Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [15]:
import numpy as np

a = np.array([[1,  6],
              [2,  8],
              [3, 11],
              [3, 10],
              [1,  7]])

mean_a = np.array(a.mean(axis=0))
mean_a

array([2. , 8.4])

                                                Задание 2

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, 
содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие.
Получившийся массив должен иметь размер 5x2.

In [17]:
a_centered = np.subtract(a, mean_a)
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

                                                Задание 3

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [20]:
a_centered_sp = np.matmul(a_centered[:, 0], a_centered[:, 1])
print(a_centered_sp)
a_centered_sp /= a.shape[0] - 1
print(a_centered_sp)

8.0
2.0

Тема 2 - Работа с данными в Pandas

In [23]:
# Задание 1

import pandas as pd

author_id = pd.Series([1, 2, 3])
author_name = pd.Series(['Тургенев', 'Чехов', 'Островский'])

authors = pd.DataFrame({"author_id": author_id, "author_name": author_name})

book = pd.DataFrame({"author_id": [1, 1, 1, 2, 2, 3, 3],
                     "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     "price": [450, 300, 350, 500, 450, 370, 290]})

In [24]:
# Задание 2
authors_price = pd.merge(authors, book, on='author_id', how='inner')

In [25]:
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [35]:
# Задание 3
top5 = authors_price.sort_values(by="price").head(5)
top5

   author_id author_name            book_title  price
6          3  Островский  Таланты и поклонники    290
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
5          3  Островский                 Гроза    370
0          1    Тургенев           Отцы и дети    450